@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Red+Hat+Display&display=swap');

body {
    background-color: rgb(241, 225, 255);
}
main {
    border: 14px solid rgb(171, 132, 208);
    margin-top: 9rem;
    background-color: #fff;
    text-align: center;
}
hr {
    width: 550px;
}
h1, h2, p {
    margin: 35px;
}
h1 {
    font-size: 40px;
    font-family: "Red Hat Display", Verdana, sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}
p {
    font-size: 20px;
    font-family: Merriweather, Georgia , serif;
}
h2 {
    font-size: 24px;
    font-family: "Red Hat Display", Verdana, sans-serif;
}
img {
    width: 70px;
    height: 70px;
}