@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body {
    background-color: #f0ebf8;
}
head {
    display: none;
}
header {
    display: flex;
    background-color: #764ebe;
    border-radius: 5px 5px 5px 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #6f7364;
}
header h1 {
    color: aliceblue;
    text-align: center;
    padding: 1rem;
    margin-top: 90px;
    font-size: 50px;
    font-family: "Red Hat Display", Verdana, sans-serif;
    text-shadow: 2px 2px #6f7364;
}
header, footer, nav, main {
    width: 600px;
    margin: 1.5rem auto;
}
footer {
    text-align: center;
    padding: 1rem;
    color: aliceblue;
    font-size: 20px;
    background-color: #764ebe;
    border-radius: 5px 5px 5px 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #6f7364;
}
img {
    width: 176px;
    height: 220px;
    border-radius: 15px;
    margin: 25px 25px 25px 25px;
}
h2 {
    text-indent: 1rem;
    font-family: "Red Hat Display", Verdana, sans-serif;
    text-shadow: 2px 2px #6f7364;
    font-size: 40px;
}
nav {
    font-size: 20px;
    font-family: "Red Hat Display", Verdana, sans-serif;
}
